[package]
name = "gin-tonic"
version = "0.4.6"
edition = "2021"
repository = "https://github.com/cemoktra/gin-tonic/"
description = "main gin-tonic crate - rust protobuf with gin and tonic"
license = "MIT"
readme = "../README.md"
keywords = ["grpc", "protobuf", "tonic"]

[features]
default = []
uuid_string = ["gin-tonic-core/uuid_string"]
uuid_bytes = ["gin-tonic-core/uuid_bytes"]

[dependencies]
bytes = { workspace = true }
gin-tonic-core = { workspace = true }
gin-tonic-derive = { workspace = true }
heck = { workspace = true }
integer-encoding = { workspace = true }
proc-macro2 = { workspace = true }
protox = { workspace = true }
quote = { workspace = true }
syn = { workspace = true }
thiserror = { workspace = true }
tonic = { workspace = true }
tonic-build = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
divan = "0.1.14"
prost = "0.12.6"
uuid = { workspace = true }

[lints]
workspace = true

[[bench]]
name = "gin_tonic"
harness = false

[[bench]]
name = "prost"
harness = false
