name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Run tests [uuid_string]
        run: cargo test --locked --features uuid_string
      - name: Run tests [uuid_bytes]
        run: cargo test --locked --features uuid_bytes
      - name: Run clippy
        run: cargo clippy --locked --workspace --all-targets